{
	Filter = {
		Bundles = (
			"com.apple.springboard",
			"com.cardify.tinder",
			"co.hinge.app",
			"com.bumble.app",
			"co.hily.app",
			"com.badoo.badoo",
			"com.ftw-and-co.fruitz",
			"com.feels.Feels",
			"com.happn.happn",
			"com.match.Match",
			"com.pof.pof",
			"com.eharmony.eharmony",
			"com.okcupid.okcupid",
			"com.zoosk.zoosk",
			"com.lex.lex",
			"com.grindrapp.ios",
			"com.burbn.instagram",
			"com.instagram.barcelona",
			"com.facebook.Facebook",
			"com.facebook.Messenger",
			"net.whatsapp.WhatsApp",
			"com.snapchat.Snapchat",
			"com.zhiliaoapp.musically",
			"com.atebits.Tweetie2",
			"com.bereal.ios",
			"com.hammerandchisel.discord",
			"com.reddit.Reddit",
			"com.linkedin.LinkedIn",
			"com.meetic.meetic",
			"com.adopteunmec.ios",
			"com.jaumo.ios",
			"com.tantan.ios",
			"com.lovoo.ios",
			"com.hud.ios",
			"com.turnup.app",
			"com.boo.app",
			"com.iris.dating",
			"com.once.once",
			"com.innercircle.ios",
			"com.theleague.ios",
			"com.clover.ios",
		);
	};
}
