{
  CFBundleDevelopmentRegion = English;
  CFBundleDisplayName = Andromeda;
  CFBundleExecutable = AndromedaSettings;
  CFBundleIdentifier = "com.andromeda.bypass.settings";
  CFBundleInfoDictionaryVersion = "6.0";
  CFBundlePackageType = BNDL;
  CFBundleShortVersionString = "4.2.2";
  CFBundleVersion = "4.2.2";
  NSPrincipalClass = AndromedaAppListController;
}
