{
  CFBundleDevelopmentRegion = English;
  CFBundleDisplayName = Andromeda;
  CFBundleExecutable = AndromedaSettings;
  CFBundleIdentifier = "com.andromeda.bypass.settings";
  CFBundleInfoDictionaryVersion = "6.0";
  CFBundlePackageType = BNDL;
  CFBundleShortVersionString = "4.1.4";
  CFBundleVersion = "4.1.4";
  NSPrincipalClass = AndromedaRootListController;
}
